/** Wrapper */
.wrapper {
  --default-shadow-color: rgb(0 0 0 / 25%);
  --transition: 400ms cubic-bezier(0, -0.02, 0.4, 1.25);

  font-size: rem(9.5px);
}

/** Switch */
.switch {
  display: none;
}

/** Tooltip */
.tooltip {
  color: var(--mantine-color-text);
  font-size: rem(8.5);
  font-weight: 500;
}

/** Icons Container */
.icons {
  --icons-width: 5.625em;
  --icons-height: 2.5em;

  width: var(--icons-width);
  height: var(--icons-height);
  position: relative;
  overflow: hidden;
  border-radius: var(--mantine-radius-xl);
  box-shadow: 0 -0.062em 0.062em var(--default-shadow-color),
    0 0.062em 0.125em rgb(255 255 255 / 94%);
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    border-radius: var(--mantine-radius-xl);
    box-shadow: 0 0.05em 0.187em var(--default-shadow-color) inset,
      0 0.05em 0.187em var(--default-shadow-color) inset;
  }
}

/** Clouds */
.clouds {
  --clouds-size: 1.25em;
  --clouds-color: #f3fdff;
  --back-clouds-color: #aacadf;

  background-color: var(--clouds-color);
  width: var(--clouds-size);
  height: var(--clouds-size);
  position: absolute;
  left: 0.312em;
  border-radius: var(--mantine-radius-xl);
  box-shadow: 0.937em 0.312em var(--clouds-color),
    -0.312em -0.312em var(--back-clouds-color),
    1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color),
    2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color),
    2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color),
    3.625em -0.062em var(--clouds-color), 2.625em 0 var(--back-clouds-color),
    4.5em -0.312em var(--clouds-color),
    3.375em -0.437em var(--back-clouds-color),
    4.625em -1.75em 0 0.437em var(--clouds-color),
    4em -0.625em var(--back-clouds-color),
    4.125em -2.125em 0 0.437em var(--back-clouds-color);
}

/** Stars Container */
.stars {
  color: var(--mantine-color-white);
  width: 3.75em;
  height: auto;
  position: absolute;
  left: 0.312em;
}

/** Circle */
.circle {
  --circle-background: rgb(255 255 255 / 10%);
  --circle-diameter: 2.05em;
  --circle-offset: calc(
    (var(--circle-diameter) - var(--icons-height)) / 2 * -1
  );
  --circle-transition: 300ms cubic-bezier(0, -0.02, 0.35, 1.17);

  background-color: var(--circle-background);
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  display: flex;
  position: absolute;
  top: var(--circle-offset);
  border-radius: var(--mantine-radius-xl);
  box-shadow: inset 0 0 0 3.375em var(--circle-background),
    inset 0 0 0 3.375em var(--circle-background),
    0 0 0 0.625em var(--circle-background),
    0 0 0 1.25em var(--circle-background);
  pointer-events: none;
}

/** Moonlight Container */
.moonlight {
  --moon-diameter: 2.025em;

  background-color: var(--mantine-color-lime-4);
  width: var(--moon-diameter);
  height: var(--moon-diameter);
  margin: auto;
  position: relative;
  z-index: 2;
  overflow: hidden;
  border-radius: var(--mantine-radius-xl);
  box-shadow: 0.062em 0.062em 0.062em 0 rgb(254 255 239 / 61%) inset,
    0 -0.062em 0.062em 0 var(--mantine-color-yellow-9) inset;
  filter: drop-shadow(0.062em 0.125em 0.125em var(--default-shadow-color))
    drop-shadow(0 0.062em 0.125em var(--default-shadow-color));
  pointer-events: auto;
}

/** Moon */
.moon {
  background-color: var(--mantine-color-gray-2);
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: inherit;
  box-shadow: 0.062em 0.062em 0.062em 0 rgb(254 255 239 / 61%) inset,
    0 -0.062em 0.062em 0 #969696 inset;
}

/** Spot */
.spot {
  background-color: var(--mantine-color-dark-3);
  position: absolute;
  border-radius: var(--mantine-radius-xl);
  box-shadow: 0 0.0312em 0.062em var(--default-shadow-color) inset;

  &:first-of-type {
    width: 0.325em;
    height: 0.325em;
    top: 0.35em;
    left: 0.812em;
  }

  &:nth-of-type(2) {
    width: 0.3em;
    height: 0.3em;
    top: 0.937em;
    left: 1.4em;
  }

  &:last-of-type {
    width: 0.275em;
    height: 0.275em;
    top: 1.075em;
    left: 0.425em;
  }
}
